body {
	margin: 0;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	position: relative;
}
nav {
	text-align: center;
	padding: 40px 0 0;
}
nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
nav a {
	text-decoration: none;
	color: #222;
}
h1 {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 10px;
	font-family: inherit;
	font-weight: 500;
	line-height: 1.1;
	font-size: 30px;	
}
.h1 {
	margin-top: 20px;
	margin-bottom: 10px;
	font-size: 30px;
}
.topmenu > li {
	display: inline-block;
	position: relative;
}
.topmenu > li > a {
	position: relative;
	padding: 10px 15px;
	font-size: 1.5em;
	line-height: 1;
	letter-spacing: 3px;
}
.topmenu > li > a:before {
	content: "";
	position: absolute;
	z-index: 5;
	left: 50%;
	top: 100%;
	width: 10px;
	height: 10px;
	background: white;
	border-radius: 50%;
	transform: translate(-50%, 20px);
	opacity: 0;
	transition: .3s;
}
.topmenu li:hover a:before {
	transform: translate(-50%, 0);
	opacity: 1;
}
.submenu-dropdown, .submenu-checkbox, .submenu-radio-button {
	position: absolute;
	z-index: 4;
	left: 50%;
	top: 100%;
	width: 150px;
	padding: 15px 0 15px;
	margin-top: 5px;
	background: white;
	border-radius: 5px;
	box-shadow: 0 0 30px rgba(0,0,0,.2);
	box-sizing: border-box;
	visibility: hidden;
	opacity: 0;
	transform: translate(-50%, 20px);
	transition: .3s;
}
.topmenu > li:hover .submenu-dropdown, .topmenu > li:hover .submenu-checkbox, .topmenu > li:hover .submenu-radio-button {
	visibility: visible;
	opacity: 1;
	transform: translate(-50%, 0);
}
.submenu-dropdown a, .submenu-checkbox a, .submenu-radio-button a {
	font-size: 14px;
	letter-spacing: 1px;
	padding: 5px 10px;
	transition: .3s linear;
}
.submenu-dropdown label, .submenu-checkbox label, .submenu-radio-button label {
	font-size: 14px;
	letter-spacing: 1px;
	padding: 5px 10px;
	transition: .3s linear;
}
.submenu-dropdown a:hover, .submenu-checkbox a:hover, .submenu-radio-button a:hover {background: #e8e8e8;}