<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <display-name>webapp_testsite</display-name>
    <servlet>
        <servlet-name>Servlet_PoginPage</servlet-name>
        <servlet-class>org.eclipse.jetty.testsite.servlets.Servlet_LoginPage</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Servlet_PoginPage</servlet-name>
        <url-pattern>/webapp/rest/loginPage/login.php</url-pattern>
    </servlet-mapping>
</web-app>